<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <material name="cfrp">
    <color rgba="0.15 0.15 0.15 1.0"/>
  </material>
  <material name="petg_grey">
    <color rgba="0.55 0.55 0.55 1.0"/>
  </material>
  <material name="motor_dark">
    <color rgba="0.25 0.25 0.25 1.0"/>
  </material>
  <material name="tcp_red">
    <color rgba="1.0 0.1 0.1 1.0"/>
  </material>

</robot>
