<?xml version="1.0"?>
<robot name="army_manipulator" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- true: mock_components/GenericSystem (RViz/MoveIt2 검증용, 기본값)
       false: 실제 하드웨어 인터페이스 (팀원 Hardware Interface 완성 후) -->
  <xacro:arg name="use_mock_hardware" default="true"/>

  <!-- true: 실제 CATIA mesh(STL) 참조. false(기본값): primitive geometry.
       meshes/{visual,collision}/*.stl 이 아직 없으므로 기본은 false로 두고,
       STL 파일을 받으면 use_mesh:=true 로 켜서 확인할 것. -->
  <xacro:arg name="use_mesh" default="false"/>

  <!-- 구동부 상면 높이: world -> base_link -->
  <xacro:property name="base_height" value="0.350"/>

  <xacro:include filename="$(find army_manipulator_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find army_manipulator_description)/urdf/army_manipulator_ros2_control.xacro"/>
  <xacro:include filename="$(find army_manipulator_description)/urdf/army_manipulator_macro.xacro"/>

  <link name="world"/>

  <xacro:army_manipulator prefix="" parent="world" use_mock_hardware="$(arg use_mock_hardware)" use_mesh="$(arg use_mesh)">
    <origin xyz="0 0 ${base_height}" rpy="0 0 0"/>
  </xacro:army_manipulator>

</robot>
